<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>PAC-MESA</title>
  {{ style('style') }}
</head>
<body>
  <section>
    <div class="title"></div>
    <div class="subtitle">
      
       <h2> Perfil </h2>
        Nome de usuário: {{ auth.user.username }}
        <br>
        Email do usuário: {{ auth.user.email }}





    
    </div>
  </section>
</body>
</html>
